%h2 Edición nueva

%p Al crear esta edición del festival se marcará como actual y las entradas en eventos, inscriptos y pases actuales se archivarán y sólo podrán ser vistos activando la vieja temporada como actual.

= render 'form'
