%h2 Evento

.row
  .col.s12
    %table.highlight
      %thead
        %th
      %tbody
        - @events.each do |event|
          %tr.clickable-row{'data-href' => "#{attendance_path}/#{event.id}"}
            %td
              = event.name
            %td
              %i.material-icons chevron_right
