@import "materialize/components/color";
$primary-color: color("cyan", "darken-3") !default;
$secondary-color: color("orange", "accent-3") !default;
$label-color: #9e9e9e;

@import 'materialize';
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import 'colorpicker';
@import 'clockpicker';

@import 'upload';
@import 'tables';
@import 'forms';
@import 'attendance';

nav .brand-logo {
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 3rem;
  text-shadow: 0 0 18px #eeeeee;
  letter-spacing: .08em;
}
