#attendance {
  .card-panel {
    text-align: left;
    padding: 8px 15px 15px 15px;
    width: 195px;
    height: 155px;
    margin: 35px auto;

    label {
      text-transform: uppercase;
      color: #EEEEEE;
      font-size: 14px;
    }

    span.count {
      display: inline-block;
      font-size: 40px;
      text-align: center;
      width: 156px;
      line-height: 100px;
    }

    .arrows {
      float: right;
      position:relative;
      font-size: 30pt;

      a {
        color: #EEEEEE;
      }

      .top, .bottom {
        position: absolute;
        cursor: pointer;
      }
      .top {
        top: -7px;
        right: 2px;
      }
      .bottom {
        top: 60px;
        right: 9px;
      }
    }
  }

  #search {
    padding-left: 50px;
  }

  #results {
    border: none;
    li {
      cursor: pointer;
    }
  }

  #registrantSearch {
    cursor: pointer;
  }

  i#back {
    margin-top: 29px;
    color: $label-color;
    cursor: pointer;
  }

  #profile {
    .row {
      padding: 10px;
    }
    #pass {
      margin-left: 73px;
      h3 {
        display: inline;
      }
    }
    i#back {
      margin-top: 8px;
    }
    .label {
      text-align: right;
      color: $label-color;
      font-size: 18px;
    }
    .value {
      font-size: 18px;
    }
    .ribbon {
      width: 300px;
      height: 10px;
      border-radius: 100px / 50px;
      margin-top: 9px;
      background-color: $label-color;
    }
    .actions {
      font-size: 16px;
      .btn-floating {
        margin: 0px 20px;
      }
    }
  }
}

/* always present */
.fade-transition {
  transition: all .2s ease;
  overflow: hidden;
}

/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.fade-enter, .fade-leave {
  height: 0;
  padding: 0 10px;
  opacity: 0;
}

.slide-transition {
  transition: all .3s ease;
  height: 360px;
  overflow: hidden;
}

.slide-enter, .slide-leave {
  height: 0;
  padding: 0 10px;
  opacity: 0.5;
}

