body.full {
  background-image: url('aires.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .logo {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 5rem;
    text-shadow: 0 0 18px #eeeeee;
    letter-spacing: .08em;
    margin: 1em auto;
    text-align: center;
    color: white;
  }

  .overlay {
    margin: 0 auto;
    background: rgba(0,0,0, .6);
  }

  .send-email {
    color: white;
    padding: 2em;
  }
}
