.clickable-row {
  cursor: pointer;
}

.chosen-colour.btn-floating {
  height: 25px;
  width: 25px;
}

a.discounts {
  margin-right:20px;
}

a.delete-small {
  color: black;
  i {
    font-size: 15px !important;
  }
}
