.clickable-row {
  cursor: pointer;
}

.chosen-colour.btn-floating {
  height: 25px;
  width: 25px;
}

a.discounts {
  margin-right:20px;
}

a.delete-small {
  color: black;
  i {
    font-size: 15px !important;
  }
}

.card.settings {
  box-shadow: none;

  .card-image {
    padding: 20px 21px 20px 0;
    color: black;
  }

  .card-action {
    color: $secondary-color;
    margin-right: 20px;
    transition: color .3s ease;
    text-transform: uppercase;
  }
}
